<web-app>  
  
<servlet>  
<servlet-name>DemoServlet</servlet-name>  
<servlet-class>DemoServlet</servlet-class>  
</servlet>

<context-param>
<param-name>uname</param-name>  
<param-value>saketh</param-value>  
</context-param>
<context-param>  
<param-name>upass</param-name>  
<param-value>bandi</param-value>  
</context-param>
   
<servlet-mapping>  
<servlet-name>DemoServlet</servlet-name>  
<url-pattern>/welcome</url-pattern>  
</servlet-mapping>  
  
</web-app> 