/*.paragraph{
    font-size: 25px;
    color: white;
}*/
h1{
   
    color: #fffc00;
  text-shadow: 2px 2px 4px #FFFFFF;

}
h3,h5,h2{
	color:#FFFFFF;
}

body{
    background: #333333;  
background: -webkit-linear-gradient(to right, #dd1818, #333333);
background: linear-gradient(to right, #dd1818, #333333); 


}


