<web-app>  
  
<servlet>  
<servlet-name>DemoServlet</servlet-name>  
<servlet-class>DemoServlet</servlet-class>  
  
<init-param>  
<param-name>saketh</param-name>  
<param-value>ven.sbandi@gmail.com</param-value>  
</init-param>  
  
</servlet>  
  
<servlet-mapping>  
<servlet-name>DemoServlet</servlet-name>  
<url-pattern>/welcome</url-pattern>  
</servlet-mapping>  
  
</web-app> 