<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"> 
<web-app id="WebApp_ID"> 
 	<context-param>   
 	 	<param-name>dname2</param-name>   
 	 	<param-value>this is content param</param-value>   
 	</context-param>   
 	<servlet>   
 	 	<servlet-name>implict</servlet-name>   
 	 	<jsp-file>/login.jsp</jsp-file>   
   	 	<init-param>   
 	 	 	<param-name>dname</param-name>   
 	 	 	<param-value>this is init param</param-value>   
 	 	</init-param>   	 
 	</servlet>   
 	<servlet-mapping>   
 	 	 	<servlet-name>implict</servlet-name>   
 	 	 	<url-pattern>/loginre</url-pattern>   
 	</servlet-mapping>  
 	 	   
 	<welcome-file-list> 
 	 	<welcome-file>index.html</welcome-file> 
 	</welcome-file-list> 
</web-app>
